@model Dapper.Web.ViewModels.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            FirstName
        </dt>

        <dd>
            @Model.FirstName
        </dd>

        <dt>
            LastName
        </dt>

        <dd>
            @Model.LastName
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.Email
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>